<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>商品维护</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.css}">
</head>
<body>
<script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

<div class="container">
    <div th:include="include::menu"></div>
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#addUser">
                    添加
                </button>
                <a href="exportUser">
                    <button type="button" class="btn btn-outline-dark btn-sm">
                        导出
                    </button>
                </a>
                <table class="table table-striped table-bordered table-hover">

                    <thead>
                    <tr>
                        <td>用户名</td>
                        <td>手机号</td>
                        <td>年龄</td>
                        <td>邮箱</td>
                        <td>地址</td>
                        <td colspan="2">操作</td>
                    </tr>
                    </thead>
                    <tbody id="tbody1">
                    <tr th:each="user:${page.list}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.mobile}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.address}"></td>
                        <td><a class="btn btn-outline-danger btn-sm"
                               th:href="@{/deleteUser(id=${user.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            删除</a></td>
                        <td> <a class="btn btn-outline-primary btn-sm"
                                th:href="@{/editUser(id=${user.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-pencil" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>

                            编辑</a></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div class="btn-group-sm">
                        <a class="btn btn-outline-dark btn-sm" th:href="@{/listUser(start=1)}">[首 页]</a>
                        <a class="btn btn-outline-dark btn-sm" th:href="@{/listUser(start=${page.pageNum-1})}">[上一页]</a>
                        <a class="btn btn-outline-dark btn-sm" th:href="@{/listUser(start=${page.pageNum+1})}">[下一页]</a>
                        <a class="btn btn-outline-dark btn-sm" th:href="@{/listUser(start=${page.pages})}">[末 页]</a>
                    </div>
                </div>
                <br/>

                <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">添加用户</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form enctype="multipart/form-data" action="addUser" method="post" class="ml-3" >
                                <div class="form-group row">
                                    <label for="username" class="col-sm-2 col-form-label">用户名</label>
                                    <div class="col-sm-6">
                                        <input  required name="username" type="text" class="form-control form-control-sm"
                                               id="username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 col-form-label">密码</label>
                                    <div class="col-sm-6">
                                        <input  required name="password" type="password" class="form-control form-control-sm"
                                               id="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="age" class="col-sm-2 col-form-label">年龄</label>
                                    <div class="col-sm-6">
                                        <input required   name="age" type="text" class="form-control form-control-sm" id="age">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobile" class="col-sm-2 col-form-label">手机号</label>
                                    <div class="col-sm-6">
                                        <input required   name="mobile" type="text" class="form-control form-control-sm"
                                               id="mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">邮箱</label>
                                    <div class="col-sm-6">
                                        <input  required  name="email" type="email" class="form-control form-control-sm" id="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address" class="col-sm-2 col-form-label">地址</label>
                                    <div class="col-sm-6">
                                        <input  required  name="address" type="text" class="form-control form-control-sm"
                                               id="address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="status" class="col-sm-2 col-form-label">身份</label>
                                    <div class="col-sm-6">
                                        <input  required  name="status" type="text" class="form-control form-control-sm"
                                               id="status">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="head_pic" class="col-sm-2 col-form-label">头像</label>
                                    <div class="col-sm-6">
                                        <input  required name="head_pic" type="file" class="form-control form-control-sm"
                                               id="head_pic">
                                    </div>

                                </div>
                                <div class="text-center mb-3">

                                    <button id="a" type="submit" class="btn btn-primary " onclick="getA()">提交</button>
                                </div>
                            </form>
                            <script>
                                function getA() {
                                    alert($(#head_pic).val())
                                }
                            </script>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
        </div>


    </div>
    <script>
        $("a[href='listUser']").addClass("active")
        $("a[href='listProduct']").removeClass("active")
        $("a[href='analysisData']").removeClass("active")

    </script>
</body>
</html>
